<section class="phx-hero">
  <h1><%= gettext "List of complains" %></h1>
</section>

<section class="row">
  <article class="column">
    <div>
    <%= for complain <- @complains do %>
      <div class="complain" style="margin: 10px; border: outset">
        <h3 style="padding-left: 0.3em;"><%= complain.title %></h3>
        <p style="padding-left: 1em;"><%= complain.description %></p>
      </div>
    <% end %>
    </div>
  </article>
</section>
